<!DOCTYPE html>
<html>
  <head>
    <title>Covr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Covid19 Tracker</h1>
    <h2>HAC19: Hackers Against Covid19</h2>
      <%= image_tag 'map.png', class: 'worldmap' %>
      <h1><%= @rosters.inspect %></h1>
  </body>
</html>
